/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 20 version
*/

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("asphalt.png"), url("background.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("asphalt.png"), url("background.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("asphalt.png"), url("background.png");
  background-position-y: 1em, 123%, 0em;
  background-size: 100%, 10%, cover;
  background-repeat: repeat, repeat-x, no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  display: -ms-grid;
  display: grid;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  -ms-grid-columns: 1fr 0px 70vw 0px 1fr;
  grid-template-columns: 1fr 70vw 1fr;
  -ms-grid-rows: 1fr 0px as 0px 1fr;
  grid-template-rows: 1fr as 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "createor unity-box git-cat"
    ". copyright .";
}

.unity-box {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: unity-box;
  background-color: rgba(144, 144, 67, 0.185);
  aspect-ratio: 16/9;
}

.createor {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: createor;
  /* background-color: rgba(131, 48, 48, 0.267); */
}
#socialbox {
  margin: 0;
  padding: 0;
  position: relative;
  align-self: baseline;
}
#creatorbox {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.git-cat {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: git-cat;
  /* background-color: rgba(65, 180, 225, 0.568); */
}
#createdByText {
  /* position: absolute;
  margin: 0%; */
  margin: 0;
  padding: 0;
  position: relative;

  -webkit-text-orientation: upright;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  font-size: 40px;
}
#git {
  position: relative;
  background-image: url("cat.gif");
  aspect-ratio: 1/1;
  background-size: 80%;
  left: 50%;
  top: 50%;
  margin-left: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.copyright {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: copyright;
  /* background-color: rgba(51, 112, 51, 0.253); */
}
@-webkit-keyframes githover {
  from {
    margin-top: -1em;
  }
  to {
    margin-top: 1.3em;
  }
}
@keyframes githover {
  from {
    margin-top: -1em;
  }
  to {
    margin-top: 1.3em;
  }
}
#git:hover {
  cursor: pointer;
}
#a_git a {
  background: url(https://avatars.githubusercontent.com/u/82872781?v=4);
  background-size: cover;
}
#c_git a {
  background: url(https://avatars.githubusercontent.com/u/72564159?v=4);
  background-size: cover;
}
#an_git a {
  background: url(https://avatars.githubusercontent.com/u/83401001?v=4);
  background-size: cover;
}
#fr_git a {
  background: url(https://avatars.githubusercontent.com/u/83401979?v=4);
  background-size: cover;
}
#oz_git a {
  background: url(https://avatars.githubusercontent.com/u/83065034?v=4);
  background-size: cover;
}
@media all and (max-width: 1000px) {
  #socialbox {
    -webkit-transform: translate(-60%, -50%) scale(0.8);
    -ms-transform: translate(-60%, -50%) scale(0.8);
    transform: translate(-60%, -50%) scale(0.8);
  }
  #createdByText {
    padding-top: 18%;
    display: none;
    visibility: hidden;
  }
  #git {
    visibility: hidden;
  }
}
@media all and (max-width: 1600px) {
  #createdByText {
    padding-top: 13%;
  }
}
@media all and (max-width: 1300px) {
  #git {
    visibility: hidden;
  }
}
@media all and (max-width: 700px) {
  #socialbox {
    -webkit-transform: translate(-80%, -50%) scale(0.8);
    -ms-transform: translate(-80%, -50%) scale(0.8);
    transform: translate(-80%, -50%) scale(0.8);
  }
  #git {
    visibility: hidden;
  }
}
