body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("asphalt.png"), url("background.png");
  background-position-y: 1em, 123%, 0em;
  background-size: 100%, 10%, cover;
  background-repeat: repeat, repeat-x, no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  display: grid;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 1fr as 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "createor unity-box git-cat"
    ". copyright .";
}

.unity-box {
  grid-area: unity-box;
  background-color: rgba(144, 144, 67, 0.185);
  aspect-ratio: 16/9;
}

.createor {
  grid-area: createor;
  /* background-color: rgba(131, 48, 48, 0.267); */
}
#socialbox {
  position: relative;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.git-cat {
  grid-area: git-cat;
  /* background-color: rgba(65, 180, 225, 0.568); */
}
#git {
  position: relative;
  background-image: url("cat.gif");
  aspect-ratio: 1/1;
  background-size: 80%;
  left: 50%;
  top: 50%;
  margin-left: 20px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.copyright {
  grid-area: copyright;
  /* background-color: rgba(51, 112, 51, 0.253); */
}

#createdByText {
  position: absolute;
  margin: 0%;
  text-orientation: upright;
  writing-mode: vertical-rl;
  padding-top: 23%;
  padding-left: 5%;
  font-size: 40px;
}
@keyframes githover {
  from {
    margin-top: -1em;
  }
  to {
    margin-top: 1.3em;
  }
}
#git:hover {
  cursor: pointer;
}
#a_git a {
  background: url(https://avatars.githubusercontent.com/u/82872781?v=4);
  background-size: cover;
}
#c_git a {
  background: url(https://avatars.githubusercontent.com/u/72564159?v=4);
  background-size: cover;
}
#an_git a {
  background: url(https://avatars.githubusercontent.com/u/83401001?v=4);
  background-size: cover;
}
#fr_git a {
  background: url(https://avatars.githubusercontent.com/u/83401979?v=4);
  background-size: cover;
}
#oz_git a {
  background: url(https://avatars.githubusercontent.com/u/83065034?v=4);
  background-size: cover;
}
@media all and (max-width: 1000px) {
  #socialbox {
    transform: translate(-60%, -50%) scale(0.8);
  }
  #createdByText {
    padding-top: 18%;
    display: none;
    visibility: hidden;
  }
}
@media all and (max-width: 1600px) {
  #createdByText {
    padding-top: 13%;
  }
}
@media all and (max-width: 700px) {
  #socialbox {
    transform: translate(-80%, -50%) scale(0.8);
  }
}
